* {margin:0;padding:0}
html,body {font:12px Arial,宋体;width:100%;height:100%;}
a {text-decoration:none;}
b {font-weight:normal;}
h1 {padding-top: 10px;}
p {height:30px;line-height:30px;}
.container {width: 96%;margin: 0 auto;min-width: 1000px;background: red;height: 100%;min-height: 400px;border-right:1px solid #EBECED}
.contact {width: 200px;height: 100%;background: #EBECED;float: left;position:relative;}
.detail {height: 100%;background: green;margin-left: 200px;position:relative;}
.home {height: 100%;background: #FFFFFF;position: absolute;width: 100%; z-index: 1;top: 0;left: 0;}
.contact-msg {width: 100%;height: 69px;background: #FFFFFF;border-bottom:1px solid #EBECED;text-indent:14px;}
.chat-box {position:absolute;width: 100%;top:70px;background: gold;bottom:0;}
.message {height: 100%;background: khaki;margin-right:0px;position:relative;}
.member {width: 179px;height: 100%;border-left:1px solid #EBECED;background: #FFFFFF;float: right;display:none;overflow-y:auto;overflow-x:hidden;}
.logs {width: 100%;background: #FFFFFF;position:absolute;top:0;bottom:120px;overflow-y: auto;overflow-x: hidden;padding:10px 0;}
.send-msg {width: 100%;height: 120px;background: #000;position:absolute;bottom:0;}
.tool {width: 100%;height: 29px;background: #FFFFFF;border-top:1px solid #EBECED;position:relative;}
.chat-input {height: 40px;outline: none;font-size: 14px;line-height: 20px;background:#FFF;padding:5px 10px;overflow-y: auto;overflow-x: hidden;}
.send-button {width:100%;height:39px;background:#FFFFFF;border-top:1px solid #EBECED;}
.send-button a {display:inline-block;height:26px;line-height:26px;float:right;color:#fff;padding:0 5px;margin-top:5px;}
.search-box {width: 100%;height: 40px;}
.contact-type {width: 100%;height: 30px;background: #333;position:relative;}
.contact-type .tab {width: 50%;height: 30px;color: #ccc;line-height: 30px;text-align: center;float: left;}
.contact-type .tab.active {background: #000;color:#FFF;}
.contact-type .tab:hover {cursor:default;color:#FFF;}
.tab-detail {display: none;width: 200px;position: absolute;top: 70px;bottom: 40px;padding:5px 0;overflow-y:auto;overflow-x:hidden;}
.tab-detail.active {display: block;}
.contact .tool {position: absolute;bottom: 10px;}
.avatar {border-radius: 11px;float: left;margin-right: 5px;}
.avatar.no-login,.no-login .avatar {filter:gray;-webkit-filter: grayscale(100%);gray:1;}

.group-avatar {width: 20px;height: 20px;border: 1px solid aliceblue;float: left;margin-right: 5px;border-radius: 5px;}
.group-avatar .avatar {margin-right: 0;}
.unread {display: inline-block;text-align: right;float: right;width: 18px;height: 18px;background: red;border-radius: 11px;color: #fff;text-align: center;line-height: 18px;margin: 2px 5px 0 0;position: absolute;top: 0;right: 0;}
.chat-icon {background:url('../images/chat.png') no-repeat;}
.search {width: 160px;height: 28px;background: #EBECED;float: left;margin: 5px 20px;border-radius: 15px;line-height:28px;text-align:center;border:1px solid #ccc;color:#ccc;cursor:text;}
.search-icon {width: 15px;height: 14px;display: inline-block;background-position: -7px -87px;}
.search-contact {width: 26px;border: 0;background: transparent;border: none;outline: none;}
.empty {width: 16px;height: 16px;background-position: -31px -88px;display: block;float: right;margin-top: 11px;cursor: default;}
.search-result {width: 198px;max-height: 200px;overflow-y: auto;background: #FFF;z-index: 5;position: relative;border: 1px solid #ccc;top: -1px;opacity: 0.98;display:none;}
.search-result p {padding: 5px 10px;border-top: 1px solid #efefef;}
.search-result p:hover {background: aliceblue;}
.search-result p .avatar {margin-top: 3px;}

.row {width:100%;float:left;}
.user-avatar {float: left;margin: 10px;}
.user-avatar .avatar {width: 34px;height: 34px;border-radius: 100%;}
.message-detail {float: left;}
.message-box {background: #b8d7f8;padding: 10px;border-radius: 1px;position: relative;float: left;word-break: break-all;table-layout: fixed;word-wrap: break-word;max-width: 650px;line-height:20px;}
.message-box-pike {display: block;width: 15px;height: 15px;position: absolute;top: 0;left: -7px;background-position: -2px -123px;}

.self .user-avatar {float:right;}
.self .message-detail {float:right;}
.self .message-detail p {text-align:right}
.self .message-box {background:#eeeeee;float:right;}
.self .message-box-pike {left: inherit;right: -7px;background-position: -182px -163px;}
.smile,.image,.audio,.remind,.history,.attach,.broadcast {display: inline-block;width: 30px;height: 30px;}
.simile {background-position: 0px 0px;}
.image {background-position: -62px 0px;}
.audio {background-position: -91px 0px;}
.remind {background-position: -121px 0px;}
.history {background-position: -30px 0px;}
.attach {background-position: -156px 0px;}
.broadcast {background-position: -153px -32px;}
.add-broadcast {background-position: -45px -38px;}
.add-group {background-position: -4px -38px;}
.add-broadcast,.add-group {width: 40px;height: 35px;display: block;float: right;margin-right: 10px;}

.contact .tool {background:gainsboro;}
.more {background-position: -104px -85px;}
.button {background-position: -56px -85px;}
.text-cut {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}

.broadcast-content {width: 476px;height: 200px;border: 1px solid #cccccc;float: left;margin-top: 6px;outline:none;}
label {width: 40px;height: 30px;line-height: 30px;float: left;text-align: right;margin-right: 5px;}
input.text {height: 24px;line-height: 24px;width: 420px;border: none;outline: none;border-bottom: 1px solid #ccc;}
.user {width:22px;height:22px;background-position: -157px -60px;}
.add-receive {position: absolute;border: 1px solid #cccccc;right: 25px;top: 49px;}

.attach-upload {
    position: absolute;
    width: 200px;
    background: #ffffff;
    height: 29px;
}
.progress {
    width: 100%;
    height: 5px;
    background: whitesmoke;
}
.loaded {
    width: 0;
    height: 5px;
    background: yellowgreen;
    top: 0;
    position: absolute;
}
.loaded-persent {
    float: right;
    line-height: 24px;
    height: 24px;
}
.attach-upload-start,.attach-upload-stop,.attach-upload-end,.attach-upload-close {
    display:block;
    float:left;
    width: 20px;
    height: 24px;
    background:url('../images/video.png') no-repeat;
}
.attach-upload-start {
    background-position: -19px -3px;
}
.attach-upload-stop {
    background-position: -2px -3px;
    display:none;
}
.attach-upload-end {
    background-position: -36px -4px;
}
.attach-upload-close {
    background-position: -53px -4px;
}
.pop-smiley {
    position: absolute;
    width: 435px;
    height: 204px;
    background: url('../images/face.gif') no-repeat 5px 5px #FFFFFF;
    border: 1px solid #efefef;
    bottom: 40px;
    left: 2px;
    box-shadow: 3px 3px 3px #ccc;
    padding: 5px;
	border-radius:5px;
}
.pop-smiley a {
    display: block;
    width: 28px;
    height: 28px;
    float: left;
    border: 1px solid transparent;
    margin: 0 -1px -1px 0;
}
.pop-smiley a:hover {
	border-color:turquoise;
	position: relative;
}
.pop-smiley img {
    float: left;
    border: 1px solid #efefef;
    padding: 2px;
    margin: 0 -1px -1px 0;
	position:relative;
	z-index:1;
}

.pop-smiley img:hover {
	border-color: turquoise;
    position: relative;
	z-index:3;
}

.send-button {
    width: 100%;
    height: 39px;
    background: #FFFFFF;
    border-top: 1px solid #EBECED;
    position: relative;
}
.button {
    width: 40px;
    background: #3390ee;
    border-radius: 5px;
    margin-right: 10px;
}

.more {
    background-position: -86px -86px;
    position: absolute;
    right: 10px;
    top: 0;
    width: 10px;
}
.send-button a {
    display: inline-block;
    height: 26px;
    line-height: 26px;
    color: #fff;
    margin-top: 5px;
}
.pop-keys {
    position: absolute;
    right: 5px;
    top: -83px;
    width: 147px;
    height: 70px;
    background: #FFFFFF;
    border: 1px solid #efefef;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #ccc;
}
.pop-keys p {
	padding: 0 10px;
	margin:1px 0;
}
.pop-keys p.active {
	background: aliceblue;
}
.pop-keys p:hover {
	background: aliceblue;
	cursor:default;
}
.file-msg {
    width: 100%;
    height: 60px;
    background: url('../images/filetype/icon_doc_256.png') left center no-repeat;
    text-indent: 53px;
}
.files {
    width: 200px;
    height: 90px;
    background: #FFFFFF;
	border-radius:2px;
    padding: 0 10px;
}
.file-tool {
    width: 100%;
    height: 29px;
    line-height: 30px;
    text-align: right;
    border-top: 1px solid #efefef;
}
.modal {
    position: fixed;
    width: 480px;
    height: 340px;
    top: 50%;
    left: 50%;
    background: #FFFFFF;
    z-index: 999;
    margin: -180px 0 0 -250px;
    border-radius: 10px;
    padding: 10px;
}
.modal-border {
    width: 510px;
    height: 370px;
    background: #000000;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -185px 0 0 -255px;
    z-index: 998;
    border-radius: 10px;
    opacity: .3;
}
.modal-bg {
    width: 100%;
    height: 100%;
    background: #000000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 997;
    opacity: .5;
}
.button-close {
    position: absolute;
    right: 17px;
    top: 23px;
    font-size: 20px;
    color: #cccccc;
}
.button-close:hover {
    color: #333;
}
.modal .button {
    display: inline-block;
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #FFF;
    margin: 5px 0;
}
.modal .button:hover {
    background: steelblue;
}

.float-right {
	float:right;
}
.float-left {
	float:left;
}
.image-msg {
    float: left;
    width: 98px;
    height: 94px;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 0 -1px -1px 0;
    text-align: center;
    position:relative;
}
.image-lists {
    width: 476px;
    height: 230px;
    border: 1px solid #cccccc;
}
.load-upload {
    width: 98px;
    height: 94px;
    position: absolute;
    background: #333;
    opacity: 0.9;
    bottom: 10px;
}
.contact-tool {
    position: absolute;
    right: 0;
    top: 17px;
    width: 400px;
    height: 35px;
}
.target-right,.target-left {
    width: 38px;
    height: 35px;
    display: block;
    text-align: center;
    line-height: 35px;
    color: #cccccc;
    font-style: normal;
}
.target-right {
    background-position: -113px -82px;
}
.target-left {
    background-position: -160px -82px;
}
.add-group-all {
    border:block;
    float: right;
    border: 1px solid #ccc;
    color: #ccc;
    width: 15px;
    text-align: center;
    height: 15px;
    line-height: 16px;
    border-radius: 5px;
    margin: 3px 5px 0 0;
    display:none;
}
.add-group-all:hover {
    color:#777;
    border-color:#777;
}
.add-group-struct {
    float: left;
    width: 200px;
    height: 260px;
    border: 1px solid #cccccc;
    overflow-y: auto;
    overflow-x: hidden;
}
.add-group-tool {
    width: 38px;
    float: left;
    height: 70px;
    margin: 95px 0 0 20px;
}
.group-member {
    width: 200px;
    height: 260px;
    border: 1px solid #cccccc;
    float: right;
    overflow-y:auto;
    overflow-x:hidden;
}
.group-member span {
    display:block;
    height:22px;
    line-height:22px;
    padding: 5px 10px;
    border-bottom: 1px solid #efefef;
}
.system {
    text-align: center;
}
.system span {
    margin: 5px 10px;
    background: #efefef;
    border-radius: 12px;
    line-height: 24px;
    padding: 5px 10px;
    word-break: break-all;
    table-layout: fixed;
    word-wrap: break-word;
    text-align: left;
    display: inline-block;
}
.tree-folders span,.tree-files span {
    position:relative;
    overflow: hidden;text-overflow: ellipsis;white-space: nowrap;
}
@-moz-document url-prefix() { 
	.avatar.no-login,.no-login .avatar, { 
		filter: grayscale(1); 
	}
}
