.avatar {float:left;margin-right:5px;border-radius:100%;}
.group-avatar {width: 20px;height: 20px;border: 1px solid aliceblue;float: left;margin-right: 5px;border-radius: 5px;}
.group-avatar .avatar {margin-right:0;}
